@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.app-control {
    color: #fff;
    background: #171717;
}
.btn-menu {
    color: #fff;
}
.app-control-contenedor {
    position: relative;
}
.app-control-botonera .btn {
    font-size: 21px;
    float: left;
    width: 60px;
    height: 60px;
    color: #fff;
    border: #000 3px solid;
    border-radius: 50%;
    margin: 0 15px;
}
.app-control-botonera {
    margin: 0 auto;
    margin-top: 125px;
    width: 270px;
}
.btn-power {
    color: #ce5353!important;
    margin: 20px calc(50% - 30px)!important;
}
.app-control-botonmedio {
    width: 250px;
    height: 250px;
    border: 50px solid #3c3c3c;
    border-radius: 50%;
    margin: 45px auto;
    position: relative;
}
.app-control-botonmedio .btn {
    color: #858585;
    font-size: 30px;
    position: absolute;
    width: 65px;
    height: 65px;
    padding: 0;
}
.app-control-botonmedio .btn-up {
    top: calc(-25px - 32.5px);
    right: calc(50% - 32.5px);
}
.app-control-botonmedio .btn-down {
    bottom: calc(-25px - 32.5px);
    right: calc(50% - 32.5px);
}
.app-control-botonmedio .btn-left {
    left: calc(-25px - 32.5px);
    top: calc(50% - 32.5px);
}
.app-control-botonmedio .btn-right {
    right: calc(-25px - 32.5px);
    top: calc(50% - 32.5px);
}
.app-control-botonmedio .btn-ok {
    top: calc(50% - 32.5px);
    right: calc(50% - 32.5px);
}
.app-control-footer {
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
    position: absolute;
    left: calc(50% - 125px);
    bottom: 15px;
    width: 250px;
    height: 10px;
}
.app-pantallacompleta {
    position: absolute;
    width: 100%;
    padding: 15px;
    z-index: 9999999;
    background-color: #060606;
    top: -100%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.app-pantallacompleta.activo {
    top: 0%;
}

.app-pantallacompleta .btn-cerrar {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    font-size: 20px!important;
}

.app-pantallacompleta p {
    width: 90%;
}

.app-pantallacompleta .btn {
    padding: 2px 10px;
    font-size: 15px;
}

/*index*/
.app-tv {
    background: #161623; 
    color: #fff;
}
.app-tv::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
    clip-path: circle(30% at right 78%);
}
.app-tv::before {content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(199,46,149,0.81) 0%, rgba(246,70,84,1) 89.5% );
    clip-path: circle(20% at 10% 18%);
}
.app-tv .container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    height: 100%;
    text-align: center;
}
.app-contenedor {
/*       background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px; */
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 6px;
}
.contenedor-codigo {
    position: relative;
    height: 500px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    z-index: 1;
}
.apptv-input {
    margin: 0 auto;
}
.app-contenedor h3 {
    width: 100%;
    margin: 0;
    font-weight: 400;
}
.app-contenedor p {
    width: 100%;
}
.app-contenedor a {
    color: #fff;
    text-decoration: underline;
}
.apptv-input input {
    float: left;
    width: 40px;
    height: 50px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    padding: 11px;
}
.apptv-input input:first-child {
    margin: 0;
}
.btn-conectar {
    border-radius: 10px;
    background-color: #000;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.35);
    color: #ffff;
    font-size: 25px;
    font-weight: 100;
    padding: 5px 40px;
    margin: 20px auto;
    cursor: pointer;
}
.btn-conectar:hover, .btn-conectar:focus {
    background-color: #232323;
    color: #fff;
}
.container-general {
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
}
/* fin index */
/* netflix */
.app-netflix {
    background-color: #000000;
}
.netflix-login-logo {
    width: 135px;
    margin: 0 auto;
}

.netflix-login-logo img {
    width: 100%;
}

.app-netflix-login {
    width: 100%;
    display: none;
}

.app-netflix-login h3 {
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.netflix-item-usuario {
    width: 110px;
    margin: 10px 5px;
    display: inline-block;
}

.netflix-imagen-usuario img {
    width: 100%;
}

.netflix-list-usuarios {
    display: block;
    width: 244px;
    margin: 0 auto;
}

.netflix-titulo-usuario {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-size: 11px;
}

.app-netflix-big {
    margin: 0 -15px;
    width: calc(100% + 30px);
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.app-netflix-big-bg img {
    height: 100%;
    margin-left: -50%;
}

.app-netflix-big-bg {
    overflow: hidden;
    height: 100%;
}

.app-netflix-home {
    width: 100%;
    display: none;
}

.app-netflix-big-logo {
    position: absolute;
    width: 200px;
    bottom: 35%;
    left: calc(50% - 100px);
}

.app-netflix-big-logo img {
    width: 100%;
}

.app-netflix-big p {
    color: #fff;
    position: absolute;
    bottom: 20%;
    font-size: 12px;
    margin: 0;
    text-align: center;
    padding: 0 20px;
}

.btn-netlfix-reproducir {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 42px);
    background-color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}

.app-netflix-big-bg:before {content: " ";background: rgb(0,0,0);background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 100%);width: 100%;height: 100%;top: 0;left: 0;position: absolute;}

.app-netflix-itemslide p {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}

.app-netflix-itemslide-contenedor {
    height: 140px;
    width: max-content;
    overflow: hidden;
}

.app-netflix-item {
    display: inline-block;
    width: fit-content;
    height: 140px;
    margin-right: 5px;
}

.app-netflix-item img {
    height: 100%;
}

.app-netflix-itemslide {
    overflow: hidden;
}
.app-netflix-itemslide-scroll {
    overflow-y: auto;
    margin-bottom: 20px;
}

.app-netflix-itemslide-scroll[contexto="netflixOriginals"] .app-netflix-itemslide-contenedor, .app-netflix-itemslide-scroll[contexto="netflixOriginals"] .app-netflix-item {
    height: 200px;
}

.app-netflix-itemslide-scroll[contexto="netflixOriginals"] {
    height: 200px;
}
.app-netflix-control {
    width: 250px;
    height: 250px;
    border: 50px solid #3c3c3c;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
.app-netflix-control .btn {
    color: #858585;
    font-size: 25px;
    position: absolute;
    width: 65px;
    height: 65px;
    padding: 0;
}
.app-netflix-control .btn-up {
    top: calc(-25px - 32.5px);
    right: calc(50% - 32.5px);
}
.app-netflix-control .btn-down {
    bottom: calc(-25px - 32.5px);
    right: calc(50% - 32.5px);
}
.app-netflix-control .btn-left {
    left: calc(-25px - 32.5px);
    top: calc(50% - 32.5px);
}
.app-netflix-control .btn-right {
    right: calc(-25px - 32.5px);
    top: calc(50% - 32.5px);
}
.app-netflix-control .btn-play {
    top: calc(50% - 32.5px);
    right: calc(50% - 32.5px);
    font-size: 21px!important;
}
.app-netflix-control-contenedor {
    display: none;
    position: fixed;
    bottom: 10%;
    width: 100%;
    left: 0;
}
.app-netflix-subtitulos {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #3c3c3c;
    color: #fff;
    padding: 50px 20px;
    z-index: 11;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.app-netflix-subtitulos h5 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}

.app-contenedor-audsub button {
    background: transparent;
    border: none;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    color: #bbb;
    font-weight: 400;
}

.app-netflix-subtitulos h5:first-child {
    margin-top: 0;
}
.app-netflix-buscador-contenedor {
    float: right;
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}

.app-netflix-navbar {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 10;
    width: 100%;
    display: none;
}

.app-netflix-perfil {
    float: right;
}

.app-netflix-buscador {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #000;
    padding: 20px;
    z-index: 11;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.app-netflix-buscador.activo, .app-netflix-subtitulos.activo {
    left: 0%;
}
.app-netflix-buscador h3 {
    color: #4a4a4a;
    width: 100%;
}

.app-netflix-buscador input {
    background: #1f1f1f;
    border: 1px solid #424242;
    color: #fff;
    padding: 5px 10px;
    font-weight: 100;
    width: 100%;
}
.app-netflix-buscador-resultados {
    overflow: auto;
    margin-top: 15px;
    height: 75vh;
}
.netflix-item-busqueda {
    width: 100%;
    margin-bottom: 10px;
    margin: 10px auto;
}
.netflix-item-busqueda img {
    width: 100%;
}
.cerrar-buscador, .cerrar-subtitulos {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    color: #4a4a4a;
}
.btn-netflix-omitir {
    width: fit-content;
    padding: 10px;
    border: solid #6d6d6d 1px;
    color: #6d6d6d;
    margin: 0 auto;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 600;
}
.cerrar-subtitulos {
    top: 40px;
    right: 20px;
    color: #fff;
    font-size: 24px;
}
.app-contenedor-audsub button.selected {
    color: #fff;
}
.audsub-aud, .audsub-text {
  margin-bottom: 15px;
}
/*fin netflix*/
/* youtube */
.app-youtube{
    background-color: #282828;
}
.app-youtube-menu {
    width: 100%;
    margin-top: 30px;
}

.app-youtube-logo img {
    width: 100%;
}

.app-youtube-logo {
    width: 175px;
    float: left;
}

.app-youtube-user {
    float: right;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -5px;
}

.app-youtube-user img {
    width: 100%;
}

.app-youtube-item {
    width: 100%;
    margin-bottom: 15px;
}

.app-youtube-item img {
    width: 100%;
}

.app-youtube-datos h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
}

.app-youtube-datos h5 {
    color: #939393;
    position: relative;
    width: fit-content;
    font-size: 16px;
    margin-bottom: 5px;
    z-index: 9;
}

.app-youtube-datos h5 span {
    color: #fff;
    background-color: #939393;
    font-size: 8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    float: right;
    text-align: center;
    line-height: 16px;
    margin-left: 5px;
}

.app-youtube-datos p {
    color: #545454;
    margin: 0;
    font-size: 12px;
}
.app-youtube-videos h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.app-youtube-videos {
   max-height: 70vh;
   overflow: auto;
   display: none;
}
.app-youtube-buscador {
    width: 100%;
    margin: 25px 0px;
}

.app-youtube-buscador input {
    width: 80%;
    border: none;
    background-color: #121212;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    padding: 5px;
    color: hsla(0, 100%, 100%, .88);
}

.app-youtube-buscador button {
    background-color: #3d3d3d;
    color: #787878;
    height: 34px;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 20%;
}

.app-youtube-control {
    width: 250px;
    height: 250px;
    border: 50px solid #3c3c3c;
    border-radius: 50%;
    margin: 45px auto;
    position: relative;
    display: none;
}
.app-youtube-control .btn {
    color: #858585;
    font-size: 25px;
    position: absolute;
    width: 65px;
    height: 65px;
    padding: 0;
}
.app-youtube-control .btn-up {
    top: calc(-25px - 32.5px);
    right: calc(50% - 32.5px);
}
.app-youtube-control .btn-down {
    bottom: calc(-25px - 32.5px);
    right: calc(50% - 32.5px);
}
.app-youtube-control .btn-left {
    left: calc(-25px - 32.5px);
    top: calc(50% - 32.5px);
}
.app-youtube-control .btn-right {
    right: calc(-25px - 32.5px);
    top: calc(50% - 32.5px);
}
.app-youtube-control .btn-play {
    top: calc(50% - 32.5px);
    right: calc(50% - 32.5px);
    font-size: 21px!important;
}
.activo {
  display: block!important;
}
/* fin youtube*/

/* general */
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.app-tv-menu-general {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100%;
    z-index: 9999;
    background-color: #000;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.app-tv .app-tv-menu-general, .app-control .app-tv-menu-general {
    display: none;
}
.app-tv-menu-general.activo {
    top: 0%;
}

.app-tv-menu-botonera {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.app-tv-menu-botonera .btn {
    width: calc(50% - 20px);
    height: 80px;
    color: #fff;
    background-color: #292929;
    margin: 9px;
}

.app-tv-menu-botonera .btn i {
    width: 100%;
    font-size: 30px;
    margin-top: 10px;
}

.app-tv-menu-botonera .btn span {
    width: 100%;
    font-size: 10px;
    color: #8c8c8c;
    text-transform: uppercase;
    font-weight: 600;
}
.app-tv-menu-general.activo .app-tv-menu-footer {
    bottom: 93%;
    transform: rotate(180deg);
}
.app-tv-menu-footer {
    position: fixed;
    bottom: 0%;
    left: calc(50% - 40px);
    width: 80px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.app-tv-menu-footer:hover {
    color: #fff;
}
#cargador {
    position: fixed;
    z-index: -1;
    background: #282828;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#cargador.activo {
    z-index: 9999;
    opacity: 1;
}
#cargador .lds-ellipsis {
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
/*fin general*/
@media only screen and (max-width: 350px) {
    .app-control-botonera {
        margin-top: 40px;
    }
}